<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto Apps</title>
</head>
<body>
    <header>
        <!-- Navigasi untuk Mobile -->
        <nav class="menumobile">
            <div class="iconmenu" id="menu"><a href="#">☰</a></div>
            <div class="logomobile">Resto Apps</div>
            <div class="logomobile"></div>
        </nav>
        <nav id="drawer" class="navmobile">
            <ul class="navlistmobile">
                <li class="navitemmobile"><a href="">Home</a></li>
                <li class="navitemmobile"><a href="#">Favorite</a></li>
                <li class="navitemmobile"><a target="_blank" href="https://www.linkedin.com/in/alfyandoo/">About Us</a></li>
            </ul>
        </nav> 
        <!-- Navigasi untuk Desktop -->
        <nav class="nav">
            <a class="logo" href="">Resto Apps</a>
            <ul class="navlist">
                <li class="navitem"><a href="">Home</a></li>
                <li class="navitem"><a href="#">Favorite</a></li>
                <li class="navitem"><a target="_blank" href="https://www.linkedin.com/in/alfyandoo/">About Us</a></li>
            </ul>
        </nav>
        <!-- Hero -->
        <div class="hero" style="background-image:linear-gradient(rgba(0, 0, 2, .6), rgba(0, 0, 2, .6)), url('images/heros/hero-image_4.jpg');">
            <div class="herotext">
                <h1>Resto Apps</h1>
                <p>don't forget to pray before and after eating!</p>
            </div>
        </div>
    </header>
    <!-- Content -->
    <main id="content">
        <section class="content">
            <h1 class="explore">Explore Restaurant</h1>
            <div class="list" id="dataCard"></div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2021 - Resto Apps</p>
    </footer>
</body>
</html>
